{% extends "shop/base.html" %}

<!--{% block title %}Checkout{% endblock %}-->

{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">

              <div class="form-group row">
                <div class="col-md-12">
                  <form action="." method="post" class="order-form">
                    <p><label for="{{ form.first_name.id_for_label }}" class="text-black">{{ form.first_name.label }}<span class="text-danger">*</span></label>
                    <br>{{ form.first_name }}
                    </p>
                    <p><label for="{{ form.last_name.id_for_label }}" class="text-black">{{ form.last_name.label }}<span class="text-danger">*</span></label>
                    <br>{{ form.last_name }}
                    </p>
                    <p><label for="{{ form.email.id_for_label }}" class="text-black">{{ form.email.label }}<span class="text-danger">*</span></label>
                    <br>{{ form.email }}
                    </p>
                    <p><label for="{{ form.address.id_for_label }}" class="text-black">{{ form.address.label }}<span class="text-danger">*</span></label>
                    <br>{{ form.address }}
                    </p>
                    <p><label for="{{ form.postal_code.id_for_label }}" class="text-black">{{ form.postal_code.label }}<span class="text-danger">*</span></label>
                    <br>{{ form.postal_code }}
                    </p>
                    <p><label for="{{ form.city.id_for_label }}" class="text-black">{{ form.city.label }}<span class="text-danger">*</span></label>
                    <br>{{ form.city }}
                    </p>

                     {% csrf_token %}

                </div>
              </div>




            </div>
          </div>
          <div class="col-md-6">

<!--            <div class="row mb-5">-->
<!--              <div class="col-md-12">-->
<!--                <h2 class="h3 mb-3 text-black">Coupon Code</h2>-->
<!--                <div class="p-3 p-lg-5 border">-->

<!--                  <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>-->
<!--                  <div class="input-group w-75">-->
<!--                    <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">-->
<!--                    <div class="input-group-append">-->
<!--                      <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                     {% for item in cart %}
                <tr>
                    <td>{{ item.product.name }} x {{ item.quantity }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
                    {% endfor %}
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                        <td class="text-black">${{ cart.get_total_price }}</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>${{ cart.get_total_price }}</strong></td>
                      </tr>
                    </tbody>
                  </table>



                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg py-3 btn-block">Place Order</button>

                  </div>
                </form>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
{% endblock %}